<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message Details</title>
</head>
<body>
    <p>Username</p>
    <p><%= username %></p>

    <p>Message Content</p>
    <p><%= message %></p>

    <p>Date</p>
    <p><%= date %></p>

    <p>Message Id</p>
    <p><%= id %></p>
</body>
</html>