@import "tailwindcss";

* {
    /* outline: 1px solid red */
}

/* the specific scrollbar container */
.message-container::-webkit-scrollbar {
    width: 8px; 
}

/*path the scrollbar slides on */
.message-container::-webkit-scrollbar-track {
    background: #0f172a;
    border-radius: 9999px;
}

/* the draggable thumb handle */
.message-container::-webkit-scrollbar-thumb {
    background: #334155; 
    border-radius: 9999px; 
}

.message-container::-webkit-scrollbar-thumb:hover {
    background: #475569; 
}

@layer utilities {
    .hover-delayed-bounce:hover {
        animation: customBounce 2.5s infinite;
    }

    @keyframes customBounce {
        0%, 20%, 50%, 80%, 100% {
            transform: translateY(0) scale(1.1); /* Sitting still at the bottom */
        }
        40% {
            transform: translateY(-8px) scale(1.1); /* Bounced up in the air */
        }
        60% {
            transform: translateY(-4px) scale(1.1); /* Tiny secondary bounce */
        }
    }
}